@for (arrow of arrows(); track $index) {
  <div class="osi" [class.osi-boss]="arrow.boss" [style.left.px]="arrow.x" [style.top.px]="arrow.y" aria-hidden="true">
    <span class="osi-chip">
      <td-icon name="caretR" [size]="14" [strokeWidth]="2.5"
               [style.transform]="'rotate(' + arrow.angle + 'deg)'"></td-icon>
    </span>
    @if (arrow.count > 1) {
      <span class="osi-count"
            [style.transform]="'translate(' + arrow.labelX + 'px, ' + arrow.labelY + 'px)'">{{ arrow.count }}</span>
    }
  </div>
}
